<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="d:\temp\internal-nlog.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog"/>
	</extensions>

	<!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->

	<!-- the targets to write to -->
	<targets async="true">
		<!--<target xsi:type="File" name="LogFile" fileName="d:\temp\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->

		<!-- <target xsi:type="Sentry" name="Sentry" dsn="https://8b2a6f20975c42f28f45ee90f30d7519:e05ef3a0e4f5491396ad0e2da6ee9a98@sentry.io/1764043"/> -->

		<target name="LogDatabase" xsi:type="Database" keepConnection="false" useTransactions="true"
		        dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
		        connectionString="Data Source=localhost:1522/orclpdb;Password=hr;User Id=hr;"
				commandText="INSERT INTO HR.API_LOGS (
						  MACHINENAME, LOGGED, LOG_LEVEL, MESSAGE, LOGGER, PROPERTIES, CALLSITE, EXCEPTIONS, CLIENTID, IPADDRESS, USERAGENT, QUERYSTRING)
						  values(:machineName, sysdate, :log_level, :message, :logger,:properties, :callsite, :exceptions, :clientId,:ipAddress, :userAgent, :queryString)"
				commandType="Text">

			<parameter name="machineName"    layout="${machinename}" />
			<!--<parameter name="logged"         layout="sysdate" />-->
			<parameter name="log_level"      layout="${level}" />
			<parameter name="message"        layout="${message}" />
			<parameter name="logger"         layout="${logger}" />
			<parameter name="properties"     layout="${all-event-properties:separator=|}" />
			<parameter name="callsite"       layout="${callsite}" />
			<parameter name="exceptions"      layout="${exception:tostring}" />
			<parameter name="clientId"       layout="${aspnet-user-identity}" />
			<parameter name="ipAddress"      layout="${aspnet-Request-Ip}" />
			<parameter name="userAgent"      layout="${aspnet-Request-UserAgent} " />
			<parameter name="queryString"    layout="${aspnet-Request-QueryString}" />
		</target>

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Warning" writeTo="LogDatabase" />
	</rules>
</nlog>